*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {   /*скрываем лейблы и чекбоксы для стилизации*/
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {   /*весь контент*/
  display: flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
  margin-left: 30px;
  margin-bottom: 66px;
}

.result__video-container {   /*контейнер с главным видео*/
  position: relative;
  display: block;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  
}

.result__video{   /*главное видео*/
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {   /*формы под основным видео*/
  display: flex;
  justify-content: space-between;
  
}

.search-form__fieldset {   /*блок формы с текстом и блок формы чекбоксов*/
  border: 0;
}

.search-form__fieldset-title {   /*заголовок форм текста и чекбокса*/
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: default;
  padding-bottom: 5px;
}

.search-form__label {   /*блок под заголовками форм текста и чекбокса*/
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

.search-form__label:has(.search-form__textfield:focus-visible) {   /*обводка блока с формой текста в состоянии фокуса*/
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {   /*инпут для поиска города по названию*/
  inline-size: 225px;
  block-size: 27px;
  background-color: #1b1919;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #fff;
}

.search-form__textfield:focus {   /*инпут для поиска города по названию в состоянии фокуса*/
  outline: 0;
  color: #fff;
}

.search-form__textfield:active {   /*инпут для поиска города по названию в состоянии active*/
  outline: 0;
  border: 1px solid #fff;
}

.search-form__label:hover {   /*состояние текста чекбокса при наведении мышки*/
  text-decoration: underline;
  text-underline-offset: 5px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {   /*обводка блока с формой чекбоксов в состоянии фокуса*/
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {   /*блок чекбоксов для выбора времени суток*/
  display: flex;
  justify-content: space-between;
  inline-size: 212px;
  block-size: 22px;
  appearance: none; 
}

.search-form__pseudo-checkbox {  /*стилизация чекбоксов*/
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {   /*стилизация чекбоксов в отмеченом состоянии*/
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin-top: 1px;
  margin-left: 1px;
}

.button {   /*общие стили кнопок*/
  display: block;
  margin-top: auto;
  color: #fff;
  background-color: #1b1919;
  border: 1px solid #fff;
  inline-size: 194px;
  block-size: 34px;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.button:hover {   /*общие стили кнопок при наведении мышки*/
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {   /*общие стили кнопок в состоянии active*/
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {   /*общие стили кнопок в состоянии фокуса*/
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {   /*секция с заголовоком и списоком видео*/
  display: flex;
  flex-direction: column;
  inline-size: 399px;
  padding-bottom: 1px;
}

.title{   /*заголовок секции со списком видео*/
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-bottom: 23px;
  cursor: default;
}

.content__accent {  /*стилизация span в заголовке*/
  color: rgb(84, 80, 80);
}

.content__list {   /*список видео*/
  position: relative;
  block-size: 298px;
  inline-size: 414px;
  overflow: auto;
}

.content__list-item {   /*элемента списка видео*/
  block-size: 107px;
}

.content__list-item:not(:last-child) {   /*отступы у элементов списка видео*/
  margin-bottom: 30px;
}

.content__card-link {   /*ссылка которая сожержит внутри себя элементы списка видео*/
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link:hover {   /*ссылка которая сожержит внутри себя элементы списка видео в состоянии при наведении мышки*/
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.content__card-link:active {   /*ссылка которая сожержит внутри себя элементы списка видео в состоянии active*/
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus {   /*ссылка которая сожержит внутри себя элементы списка видео в состоянии фокуса*/
  outline: 0;
}

.content__card-link:focus-visible {   /*ссылка которая сожержит внутри себя элементы списка видео в состоянии фокуса при выборе с клавиатуры*/
  outline: 1px solid #fff;
}

.content__card-link_current {   /*ссылка которая сожержит внутри себя элементы списка видео, добавляем фон у выбранного видео*/
  background-color: #545050;
}

.content__video-card {  /*контент внутри ссылки с заголовком и превью*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: 107px;
}

.content__video-card-description-container {   /*блок с заголовком и текстом внутри ссылки*/
  display: flex;
  flex-direction: column;
  flex: 1;
  block-size: 101px;
  margin-bottom: 9px;
}

.content__video-card-title {   /*блок с заголовка внутри ссылки*/
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.content__video-card-description {  /*блок с текстом внутри ссылки*/
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {  /*блок с превью внутри ссылки*/
  display: block;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {   /*кнопка в конце списка видео*/
  inline-size: 100%;
}

.more-button:focus-visible {   /*кнопка в конце списка видео в состоянии фокуса*/
  outline: 1px solid #fff;
  outline-offset: -3px;
}